<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sparta MyBlog</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!--Mystyle.css-->
    <link href="/mystyle.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <style>
      tr.highlight > td {
        background-color: red;
        color: white;
      }

      tr.highlight > td > a {
        color: white;
      }

      .table {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        table-layout: fixed;
        /*text-align: center;*/
      }

      .table th {
        border-top-style: none;
      }

      td {
        background-color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      td > a,
      a:visited,
      a:hover,
      a:active {
        color: black;
      }

      thead:first-child tr:first-child th:first-child {
        border-radius: 10px 0 0 0;
      }

      thead:first-child tr:first-child th:last-child {
        border-radius: 0 10px 0 0;
      }

      tbody:last-child tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
      }

      tbody:last-child tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
      }

      #article_write {
        height: 100px;
        width: 150px;
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    </style>

    <script>
      let user;



      function to_articles() {
        // getSelf(function (u) {
        //   user = u;
        // });
        
        if(localStorage.getItem("token")===null){
          console.log(localStorage.getItem("token"));
          alert('올바른 사용자가 아님');
          window.location.href='/login';
          return;
        }
        else window.location.href = "/api/articles_to";
          
      }

      function signOut() {
        localStorage.clear();
        window.location.href = "/";
      }

      $(document).ready(function () {
        if (localStorage.getItem("token") != null) {
          //로그인한 사용자의 경우
          $("#to_login").hide();
        } else {
          $("#sign_out").hide();
        }
        
        $.ajax({
          type: "GET",
          url: "/users/me",
          headers: {
            authorization: `Bearer ${localStorage.getItem("token")}`,
          },
          success: function (response) {
            user=response.user;
            //callback(response.user);
          },
          // error: function (xhr, status, error) {
          //   if (status == 401) {
          //     alert("로그인이 필요합니다.");
          //   } else {
          //     localStorage.clear();
          //     alert("알 수 없는 문제가 발생했습니다. 관리자에게 문의하세요.");
          //   }
          //   window.location.href = "/login";
          // },
        });
        
      });
    </script>
  </head>
  <body>
    <div class="wrap">
      <div class="banner" onclick="window.location.href='/api/articles'"></div>

      <div class="floating">
        <button
          id="article_write"
          type="button"
          onclick="to_articles()"
          class="btn btn-outline-dark"
        >
          <i class="fas fa-pencil-alt"></i>
          &nbsp;글쓰기
        </button>
      </div>
      :

      <button
        id="to_login"
        type="button"
        onclick="window.location.href='/login'"
        class="btn btn-outline-dark"
        style="margin-bottom: 30px"
      >
        <i class="fas fa-arrow-left"></i>
        &nbsp;로그인 페이지로
      </button>

      <button
        id="sign_out"
        type="button"
        onclick="signOut()"
        class="btn btn-outline-dark"
        style="margin-bottom: 30px"
      >
        <i class="fas fa-arrow-left"></i>
        &nbsp;로그아웃
      </button>

      <table id="table1" class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="width: 30%">Date</th>
            <th scope="col" style="width: 20%">username</th>
            <th scope="col" style="width: 50%">title</th>
          </tr>
        </thead>
        <tbody id="tbody-box">
          <% for(var i = 0; i < articles.length; i++){ %>
          <tr
            id="article-${i}"
            onclick="location.href = '/api/articles/<%= articles[i]._id%>'"
          >
            <td><%=articles[i].date%></td>
            <td><%=articles[i].username%></td>
            <td><%=articles[i].title%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
